page-build-case-list {
  ion-header {

    ion-navbar {
      border-bottom: 0px solid #ddd;
    }
    .sub-title-bar {
      ion-grid {
        padding: 0;
      }
      .item-inner {
        border-bottom: 0 !important;
      }
      .item-block {
        background-color: #73C3CB; //#58A2DB
        color: white;
      }

      width: 100%;
      background-color: #73C3CB; //#58A2DB
      /*opacity: 0.9;*/
      * {
      }
      ion-col {
        padding: 0;
        border: 0 solid #73C3CB;
        .item-block {
          min-height: 0;
        }
      }

      ion-select {
        width: 100%;
        min-width: 95%;
        margin: 0 auto;
        font-size: 1.4rem;
        .item-cover {
          color: black;
        }
      }
    }

  }
  #roomInfoListHeader {
    color: black; margin-bottom: 0;
    border-top: 0px solid #73C3CB; margin-top: 4px; background-color: #f5f5f5;
    min-height: 0;
    ion-label {
      margin-top: 6px;
      margin-bottom: 2px;
      font-size: 1.3rem;
    }
    span {
      display: block;
    }
    span:nth-child(2) {
        float: right;
    }
    span:nth-child(1) {
       float: left;
    }
    span:nth-child(3) {
        float: right;
      margin-right: 8px;
    }
  }
  #roomInfoListContent {
    .img-loaded + ion-spinner {
      display:none;
    }
    background-color: #f5f5f5;
    /*
    .has-refresher>.scroll-content {
        border: 0px solid #ddd;
    }*/
    .roomInfo:active {
      //background-color: #efefef;
    }
    ion-list {
      ion-item {
        .item-inner {
          border-bottom: 0px solid #ddd;
        }
        margin-top: 3px;
        ion-thumbnail {
          width: 30%;
          margin: 0;
          min-height: 100%;
          img {
            height: 100% !important;
            width: 100%;
          }
        }
        div#roomInfoDetail {
          line-height: 1.1;
          padding-left: 16px;
          #post_title,
          #post_place {
            display: inline-block;
            width: 60vw;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;

          }
          #post_title {

            position: relative;
            font-size: 1.50rem;
            bottom: -2px;
          }
          #post_place {
            position: relative;
            font-size: 1.30rem;
            bottom: -2px;
          }

          #post_pyeong,
          #post_deposit,
          #post_type {
            position: relative;
            bottom: -1px;
            //position: relative;
            //bottom: -3px;
            display: inline-block;
            border: 1px solid #ddd;
            padding: 4px 6px 2px 6px;
            border-radius: 3px;
            font-size: 1.2rem;
          }
          #post_etc {
            font-size: 1.25rem;
            padding-left: 2px;
            display: inline-block;
            margin-top: 3px;

            span {
              margin-right: 8px;
            }

            ion-icon {
              margin-right: 2px;
              position: relative;
              top: 1px;
            }
          }
        }
        min-height: 30vw;
        padding-left: 0;

      }
      ion-item:first-child {

        margin: 0;
      }
    }
  }
}

