<!--
  Generated template for the HomePage page.
  See http://ionicframework.com/docs/v2/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header no-border style="border-bottom: 1px solid #73C3CB;">
  <ion-navbar color="cozy" hideBackButton>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>방 목록</ion-title>
    <ion-buttons end>
      <button ion-button right (click)="refreshButtonClick()">
        새로고침
      </button>
      <button ion-button right (click)="inputButtonClick()" *ngIf="isLogined">
        방 등록
      </button>
      <button ion-button right (click)="settingButtonClick()">
        방 설정
      </button>
    </ion-buttons>
  </ion-navbar>
  <div class="sub-title-bar"> <!-- [(ngModel)]="region" -->
    <ion-grid>
      <ion-row>
        <ion-col text-center width-50>
          <ion-item text-center>
            <ion-select [(ngModel)]="region" [selectOptions]="selectOptions_region" (ionChange)="changeRegion()">
              <ion-option value="전체" selected="true">전체</ion-option>
              <ion-option value="전주">전주</ion-option>
              <ion-option value="익산">익산</ion-option>
              <ion-option value="군산">군산</ion-option>
            </ion-select>

          </ion-item>
        </ion-col>
        <ion-col text-center width-50>
          <ion-item text-center>
            <ion-select [(ngModel)]="lately" [selectOptions]="selectOptions_lately" (ionChange)="changeLately()">
              <ion-option value="0" selected="true">정렬 방법</ion-option>
              <ion-option value="1">최신순</ion-option>
              <ion-option value="2">이름순</ion-option>
              <ion-option value="3">보증금순</ion-option>
<!--
              <ion-option value="3">월세순</ion-option>
-->
            </ion-select>
          </ion-item>
        </ion-col>
        <!--
        <ion-col text-center width-50>
          <ion-item text-center>
            <ion-select [(ngModel)]="filter" multiple="true" [selectOptions]="selectOptions" (ionChange)="changeDetailFilter()">
              <ion-option value="1" selected="true">전세</ion-option>
              <ion-option value="2">원룸(오픈형)</ion-option>
              <ion-option value="3">원룸(분리형)</ion-option>
              <ion-option value="4">원룸(복층형)</ion-option>
              <ion-option value="5">투룸</ion-option>
              <ion-option value="6">쓰리룸</ion-option>
            </ion-select>
          </ion-item>
        </ion-col>
        -->
      </ion-row>
      <!--
        <span style="font-size: 1.10em; position: relative; top: 11px; left: 20px;">
          {{region}} - 오피스텔 ( 보증금:500~1000, 월세:20~50 )
        </span>
      -->
    </ion-grid>
  </div>

</ion-header>
<ion-content id="roomInfoListContent">

<!--

  <ion-refresher class="refresher" (ionRefresh)="doRefresh($event)" pullMin="60" pullMax="150" no-border>
    <ion-refresher-content
      pullingIcon="arrow-dropdown"
      pullingText="Pull to refresh"
      refreshingSpinner="circles"
      refreshingText="Refreshing...">
    </ion-refresher-content>
  </ion-refresher>
-->


<!--
  <ion-spinner></ion-spinner>
-->
  <!--


    <ion-item-group>
      <ion-item-divider sticky>A</ion-item-divider>
      <ion-item>Angola</ion-item>
      <ion-item>Argentina</ion-item>
    </ion-item-group>

    -->
  <ion-list>
    <ion-list-header id="roomInfoListHeader"><b>원룸·투룸·오피스텔·도시형생활주택</b></ion-list-header>
    <!--
      | sortBy : 'title' 이면 title로 오름차순 한다는 의미
      해당 부분에 변수를 두고 변수의 값을 바꾸는 것으로 해야 할듯.
      -->
    <ion-item *ngFor="let roomInfo of returnedDatas | sortBy : orderBy;  let i = index" class="roomInfo">
      <div class="post-body" (click)="viewPost(roomInfo.selectedroomInfoIdx)">
        <div class="img"  style="width: 100%;">

          <!--
                             <img src="http://api.cozyhouzz.co.kr/{{roomInfo.mainPreviewImage}}"
                                  alt="Inventor e voluptates velit totam ipsa tenetur" style="width: 50%; display: block; float: left;">
                    -->

          <img src="assets/img/testMainPreviewImage2.jpg" *ngIf="i%4==0"

               alt="Inventore voluptates velit totam ipsa tenetur" style="width: 50%;display: block; float: left;">
          <img src="assets/img/testMainPreviewImage3.jpg" *ngIf="i%4==1"
               alt="Inventore voluptates velit totam ipsa tenetur" style="width: 50%; display: block; float: left;">
          <img src="assets/img/testMainPreviewImage4.jpg" *ngIf="i%4==2"
               alt="Inventore voluptates velit totam ipsa tenetur" style="width: 50%; display: block; float: left;">
          <img src="assets/img/SAM_100_0081.jpg" *ngIf="i%4==3"
               alt="Inventore voluptates velit totam ipsa tenetur" style="width: 50%; display: block; float: left;">



          <div class="outer">
            <div class="middle">
              <div class="inner" *ngIf="view" >
                <span id="post_title">{{roomInfo.title}}</span><br>
                <span id="post_place">{{roomInfo.buildPlace}}</span><br>
                <span id="post_pyeong">{{roomInfo.buildTotalArea}}평</span>
                <span id="post_type">{{roomInfo.buildType}}</span>
                <span id="post_deposit">{{roomInfo.buildTotalPrice}} / 20</span><br>
                <span id="post_etc">
                  <span>
                      <ion-icon ios="ios-heart" md="md-heart" style="color: #ff7473;"></ion-icon> {{i}}
                  </span>
                  <span>
                      <ion-icon ios="ios-chatbubbles" md="md-chatbubbles"
                                style="color:#159DEB;"></ion-icon> {{i * 3}}
                  </span>
                </span>
              </div>
            </div>
          </div>

        </div>
      </div>
    </ion-item>
  </ion-list>
  <ion-infinite-scroll (ionInfinite)="doInfinite($event)" style="margin-top: 30px;">
    <ion-infinite-scroll-content

      loadingSpinner="bubbles"
      loadingText="Loading more data...">

    </ion-infinite-scroll-content>
  </ion-infinite-scroll>

</ion-content>
<!--
<ion-content>
    <ion-card *ngFor="let roomInfo of returnedDatas" >
        <button ion-item text-wrap class="post-body" (click)="viewPost(roomInfo.selectedroomInfoIdx)">
            <div>
              <div class="outer">
                 <div class="middle">
                   <div class="inner">
                     <div id="post_image"  style="width: 50%; float: left;" >
                       <a>
                         <img src="http://api.cozyhouzz.co.kr/{{roomInfo.mainPreviewImage}}"
                                                      alt="Inventore voluptates velit totam ipsa tenetur">
                       </a>
                     </div>
                   </div>
                 </div>
               </div>
              <div id="post_detail" style="width: 50%; float: right;">
                <span id="post_title">{{roomInfo.title}}</span>
                <span id="post_place" >{{roomInfo.buildPlace}}</span><br>
                <span id="post_pyeong">{{roomInfo.buildTotalArea}}평</span>
                <span id="post_type">{{roomInfo.buildType}}</span>
                <span id="post_deposit">{{roomInfo.buildTotalPrice}} / 20</span>
              </div>
            </div>
        </button>
    </ion-card>
</ion-content>
-->
