// Ionic Variables and Theming. For more info, please see:
// http://ionicframework.com/docs/v2/theming/
@import "ionic.globals";


// Shared Variables
// --------------------------------------------------
// To customize the look and feel of this app, you can override
// the Sass variables found in Ionic's source scss files.
// To view all the possible Ionic variables, see:
// http://ionicframework.com/docs/v2/theming/overriding-ionic-variables/

$text-color:        #000;
$background-color:  #fff;
$borderColor:       #DDD;
$textColor:         #666;

// Named Color Variables
// --------------------------------------------------
// Named colors makes it easy to reuse colors on various components.
// It's highly recommended to change the default colors
// to match your app's branding. Ionic uses a Sass map of
// colors so you can add, rename and remove colors as needed.
// The "primary" color is the only required color in the map.

$colors: (
  primary:    #159DEB,
  secondary:  #3EC3D6,
  danger:     #f53d3d,
  light:      #f4f4f4,
  dark:       #444,
  favorite:   #69BB7B,
  gray:       #8A8A8A,
  green:      #33cd5f,
  yellow:     #ffc900,
  gray-df:    #33363c,
  gray-bbb:   #bbbbbb,
  green-df:   #ff7473,
  cozy:       #73C3CB
);
//efefef
//42A2DC
// App Theme
// --------------------------------------------------
// Ionic apps can have different themes applied, which can
// then be future customized. This import comes last
// so that the above variables are used and Ionic's
// default are overridden.

@import "ionic.theme.default";


// Ionicons
// --------------------------------------------------
// The premium icon font for Ionic. For more info, please see:
// http://ionicframework.com/docs/v2/ionicons/

$ionicons-font-path: "../assets/fonts";
@import "ionicons";


$range-md-knob-width: 23px; //range의 동그라미 크기
$range-md-bar-height	: 2px;  //range의 bar 높이
$range-md-bar-background-color	:#efefef; //range의 배경 색
$range-md-bar-active-background-color	: #5D5D5D; //range의 active 부분 배경 색
$checkbox-md-icon-border-radius:50px; //체크박스의 radius
$checkbox-md-icon-background-color-off: #efefef; //체크박스 해제되었을 경우 배경 색
$checkbox-md-icon-background-color-on:#5D5D5D; //체크박스 설정되었을 경우 배경 색
$checkbox-md-icon-border-color-off: #efefef; //체크박스 해제되었을 경우 border 색
$checkbox-md-icon-border-color-on :#5D5D5D; //체크박스 설정되었을 경우 border 색
$refresher-icon-font-size	:0.7rem; //refresher 의 icon 크기


$tabs-ios-tab-max-width : 4.4rem;
.tabs-md .tab-button {
   min-height: 4.4rem !important;
}


$tabs-md-tab-icon-size: 1.7rem;
$tabs-md-tab-font-size: 1.0rem;
$tabs-md-tab-font-size-active	:1.2rem;
$tabs-md-tab-icon-color-active	:#73C3CB;

$tabs-md-tab-text-color-active	:#73C3CB;

$select-ios-padding-top: 10px;
$select-ios-padding-left: 8px;
$select-ios-padding-bottom : 13px;
$select-ios-padding-right: 8px;

$select-md-padding-top: 6px;
$select-md-padding-left: 8px;
$select-md-padding-bottom : 9px;
$select-md-padding-right: 8px;


$tabs-md-background: white;
