# Specifies intentionally untracked files to ignore when using Git
# http://git-scm.com/docs/gitignore

*~
*.sw[mnpcod]
*.log
*.tmp
*.tmp.*
log.txt
*.sublime-project
*.sublime-workspace
.vscode/
cozyhouse-app/npm-debug.log*

.idea/
.sass-cache/
.tmp/
cozyhouzz-app/.versions/
cozyhouzz-app/coverage/
cozyhouzz-app/dist/
cozyhouzz-app/node_modules/
cozyhouzz-app/tmp/
cozyhouzz-app/temp/
cozyhouzz-app/hooks/
cozyhouzz-app/platforms/
cozyhouzz-app/plugins/
cozyhouzz-app/www/
cozyhouzz-app/res/
#cozyhousplugins/android.json
#plugins/ios.json
#www/
cozyhouzz-app/$RECYCLE.BIN/

.DS_Store
Thumbs.db
UserInterfaceState.xcuserstate
