<ion-header no-border>
  <ion-navbar color="cozy" >
    <ion-title>로그인 (일반·사업주)</ion-title>
  </ion-navbar>
</ion-header>
<ion-content style="background-color: #F5F5F5" >
  <div text-center padding style="background-color: white">
    <img style="margin-top: 50px; margin-bottom: 30px;" class="profile-picture" src="{{ 'assets/img/banner/logo_cozyhouzz2.png' }}">
  </div>
  <form [formGroup]="userFormBuilder" (ngSubmit)="login()" id="login-form">
    <ion-list>
      <ion-item>
        <ion-label stacked>이메일</ion-label>
        <ion-input type="email" formControlName="email" style="color: black"></ion-input>
      </ion-item>
      <ion-item class="form-error-list" *ngIf="!userFormBuilder.controls.email.pristine && !userFormBuilder.controls.email.valid">
        <p class="form-error" item-right *ngIf="!userFormBuilder.controls.email.pristine && userFormBuilder.controls.email.hasError('required')">
          This is a required field.
        </p>
      </ion-item>
      <ion-item>
        <ion-label stacked>비밀번호</ion-label>
        <ion-input type="password" formControlName="password" style="color: black"></ion-input>
      </ion-item>
      <ion-item class="form-error-list" *ngIf="!userFormBuilder.controls.password.pristine && !userFormBuilder.controls.password.valid">
        <p class="form-error" item-right *ngIf="!userFormBuilder.controls.password.pristine && userFormBuilder.controls.password.hasError('required')">
          This is a required field.
        </p>
      </ion-item>
    </ion-list>
    <button ion-button block color="cozy" type="submit" [disabled]="!userFormBuilder.valid">로그인</button>
  </form>
  <!--<button ion-button block outline full color="gray-df" (click)="resetPassword()">Lost your password?</button>-->

</ion-content>
