<!--
  Generated template for the ZipCode page.

  See http://ionicframework.com/docs/v2/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header no-border>
    <ion-navbar color="cozy">
    <ion-title>주소 찾기</ion-title>
  </ion-navbar>

</ion-header>


<ion-content style="background-color: #F5F5F5">
  <form [formGroup]="zip_code">
    <ion-list no-border>
      <ion-item no-border  padding >
        <ion-label stacked>주소 입력</ion-label>
        <ion-input type="text" formControlName="juso" autofocus></ion-input>
      </ion-item>
    </ion-list>
    <button (click)="getAddressList()" class="addressBtn">주소 입력</button>

  </form>
  <ion-list id="addressList">

    <button ion-item *ngFor="let p of juso_list" (click)="selectAddress(p)" >
      <span id="zipNo">[ {{p.zipNo}} ]</span><br>
      <span id="jibunAddr">{{p.jibunAddr}}</span><br>
      <span id="roadAddr">{{p.roadAddr}}</span>

    </button>

  </ion-list>
  <button (click)="addAddressList()"  class="addressBtn" *ngIf="addButton">더 보기</button>
</ion-content>

