
<ion-header no-border>
  <ion-navbar color="cozy">

    <ion-title>개인정보수정</ion-title>
  </ion-navbar>
</ion-header>

<!-- 일반 유저 부분 -->
<ion-content padding >
  <form [formGroup]="userFormBuilder" (ngSubmit)="updateUserSettings()" *ngIf="user.memberType == 0">

    <ion-list>
      <ion-item>
        <ion-label stacked>이름</ion-label>
        <ion-input type="text" [(ngModel)]='user.fullName' formControlName="fullName"></ion-input>
      </ion-item>
      <ion-item class="form-error-list" *ngIf="!userFormBuilder.controls.fullName.pristine && !userFormBuilder.controls.fullName.valid">
        <p class="form-error" item-right *ngIf="!userFormBuilder.controls.fullName.pristine && userFormBuilder.controls.fullName.hasError('required')">
          This is a required field.
        </p>
      </ion-item>
      <ion-item>
        <ion-label stacked>핸드폰 번호</ion-label>
        <ion-input type="text" [(ngModel)]='user.cellPhone' formControlName="cellPhone"></ion-input>
      </ion-item>

    </ion-list>
    <button type="submit" full ion-button block color="secondary" [disabled]="!userFormBuilder.valid">Save</button>
  </form>
  <form [formGroup]="userFormBuilder" (ngSubmit)="updateUserSettings()"  *ngIf="user.memberType == 1">

    <ion-list>

      <ion-item>
        <ion-label stacked>이메일</ion-label>
        <ion-input type="text" [(ngModel)]='user.email' formControlName="email"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label stacked>사업장 이름</ion-label>
        <ion-input type="text" [(ngModel)]='user.businessName' formControlName="businessName"></ion-input>
      </ion-item>
      <ion-item class="form-error-list" *ngIf="!userFormBuilder.controls.businessName.pristine && !userFormBuilder.controls.businessName.valid">
        <p class="form-error" item-right *ngIf="!userFormBuilder.controls.businessName.pristine && userFormBuilder.controls.businessName.hasError('required')">
          This is a required field.
        </p>
      </ion-item>
      <ion-item>
        <ion-label stacked>이름</ion-label>
        <ion-input type="text" [(ngModel)]='user.fullName' formControlName="fullName"></ion-input>
      </ion-item>
      <ion-item class="form-error-list" *ngIf="!userFormBuilder.controls.fullName.pristine && !userFormBuilder.controls.fullName.valid">
        <p class="form-error" item-right *ngIf="!userFormBuilder.controls.fullName.pristine && userFormBuilder.controls.fullName.hasError('required')">
          This is a required field.
        </p>
      </ion-item>
      <ion-item>
        <ion-label stacked>핸드폰 번호</ion-label>
        <ion-input type="text" [(ngModel)]='user.cellPhone' formControlName="cellPhone"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label stacked>사업장 주소</ion-label>
        <ion-input type="text" [(ngModel)]='user.businessAddress' formControlName="businessAddress"></ion-input>
      </ion-item>
    </ion-list>
    <button type="submit" full ion-button block color="secondary" [disabled]="!userFormBuilder.valid">Save</button>
  </form>

</ion-content>
