<ion-menu [content]="content" (ionOpen)="menuOpened()" type="overlay" (ionClose)="menuClosed()"  persistent="true" class="page_menu">
 <!-- <div id="authentication_area" padding style="text-align: center; min-height:50px; background-color:#73C3CB"> &lt;!&ndash; (click)="openHomePage()"&ndash;&gt;


  </div>-->
  <div id="authentication_area" *ngIf="isLogined">
    <img src="{{'assets/img/mike.png'}}">
    <span>ushawn@nate.com</span><br>
    <span>
        <ion-icon ios="ios-heart" md="md-heart" style="font-size: 1.4rem;"></ion-icon> 17
        <span>LEVEL</span> 7
    </span>
  </div>
  <img style="margin-top: 15px; margin-bottom: 0px;" class="profile-picture" src="{{ 'assets/img/logo-cozyhouzz/logo.jpg' }}"  *ngIf="!isLogined">


  <!--  <div class="menu_line_area">
      <span>
        원룸·투룸·오피스텔·도시형생활주택
      </span>
    </div>-->
  <div class="menu_line_area">
    <span>
      방 정보·인테리어
    </span>
  </div>
  <ion-list class="list-full-border" style="margin-bottom: 0;">
    <div *ngFor="let p of pages" >
      <button menuClose ion-item (click)="pushPage(p)" *ngIf="!((!p.flag && p.flag == isLogined) || p.flag == isLogined)">
        <ion-icon ios="{{p.ios}}" md="{{p.md}}" item-left></ion-icon>

        {{p.title}}
      </button>
    </div>
  </ion-list>
  <div class="menu_line_area">
    <span>
      계정 정보
    </span>
  </div>
  <ion-list class="list-full-border" style="margin-bottom: 0;">
    <div *ngFor="let p of etc_pages">
      <button menuClose ion-item (click)="pushPage(p)" *ngIf="p.flag || isLogined">
        <ion-icon ios="{{p.ios}}" md="{{p.md}}" item-left></ion-icon>
        {{p.title}}
      </button>

    </div>
    <div>
      <button menuClose ion-item (click)="openloginPage(p)" *ngIf="!isLogined">
        <ion-icon ios="ios-log-in" md="md-log-in"  item-left></ion-icon>
        로그인
      </button>
      <button menuClose ion-item (click)="openResistrationPage()" *ngIf="!isLogined">
        <ion-icon ios="ios-person-add" md="md-person-add" item-left></ion-icon>
        회원가입
      </button>
      <button  ion-item (click)="logout()" *ngIf="isLogined">
        <ion-icon ios="ios-log-out" md="md-log-out" item-left></ion-icon>
        로그아웃
      </button>
    </div>

  </ion-list>
</ion-menu>
<ion-nav [root]="rootPage" #content swipeBackEnabled="false"></ion-nav>

