.page_menu {
  padding-top: 10px;
  padding-bottom: 10px;


  ion-icon {
    min-height:2.0rem;
    font-size: 2.0rem;
  }
  .item-md ion-icon[item-left] + .item-inner {
    margin-left: 14px;
  }

  .list-full-border .item {
    font-size: 1.5rem;
  }
  #user-email {
    color: black;
    font-size: 1.2em;
    position: relative;
    top: 18px;
    left: 10px;
  }
  .user-button-line {
    position: relative;
  }


  #authentication_area {
    position: relative;
    top: -5px;
    background-color: #efefef;
    .icon {
      color: black;
      font-size: 2em;
      position: relative;
      padding-top: 0;
      top: 10px;
      margin-right: 5px;
      margin-left: 5px;
    }
  }
  .menu_line_area {
    display: flex;
    position: relative;
    top: -5px;
    background-color: #ddd;
    padding: 9px 0 7px 10px;
    span {
      color: black;
      font-size: 0.9em
    }
  }
  ion-list {

    position: relative;
    top: -5px;
    margin-bottom: 0;

    .label-md {
        margin: 14px 8px 12px 0;
    }
  }
}
