<ion-header no-border>
  <ion-navbar color="cozy">
    <ion-title>일반 사용자 회원가입</ion-title>
  </ion-navbar>
</ion-header>
<ion-content  style="background-color: #F5F5F5">
  <form [formGroup]="user" (ngSubmit)="createUser()">
    <ion-list>
      <ion-item>
        <ion-label stacked>이메일</ion-label>
        <ion-input #email type="email" formControlName="email" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,3}$"  placeholder="예시) example.example.com"></ion-input>
      </ion-item>
      <ion-item class="form-error-list" *ngIf="!user.controls.email.pristine && !user.controls.email.valid">
        <p class="form-error" item-right *ngIf="!user.controls.email.pristine && user.controls.email.hasError('required')">
          This is a required field.
        </p>
        <p class="form-error" item-right *ngIf="!user.controls.email.pristine && !user.controls.email.valid">
          Invalid email address.
        </p>
      </ion-item>
      <ion-item>
        <ion-label stacked>비밀번호</ion-label>
        <ion-input #password type="password" formControlName="password"  placeholder="비밀번호를 입력해 주세요."></ion-input>
      </ion-item>
      <ion-item class="form-error-list" *ngIf="!user.controls.password.pristine && !user.controls.password.valid">
        <p class="form-error" item-right *ngIf="!user.controls.password.pristine && user.controls.password.hasError('required')">
          This is a required field.
        </p>
        <p class="form-error" item-right *ngIf="!user.controls.password.pristine && user.controls.password?.errors?.minlength">
          Password must have more than 5 characters
        </p>
      </ion-item>
      <ion-item>
        <ion-label stacked>비밀번호 확인</ion-label>
        <ion-input type="password" formControlName="passwordConfirmation"  placeholder="비밀번호를 한번 더 입력해 주세요."></ion-input>
      </ion-item>
      <ion-item class="form-error-list" *ngIf="!user.controls.passwordConfirmation.pristine && !user.controls.passwordConfirmation.valid">
        <p class="form-error" item-right *ngIf="!user.controls.passwordConfirmation.pristine && user.controls.passwordConfirmation.hasError('required')">
          This is a required field.
        </p>
        <p class="form-error" item-right *ngIf="!user.controls.passwordConfirmation.pristine && user.controls.passwordConfirmation?.errors?.minlength">
          Password must have more than 5 characters
        </p>
      </ion-item>
    </ion-list>
    <button type="submit" full ion-button block color="secondary" [disabled]="!user.valid">회원가입</button>
  </form>
</ion-content>
