page-build-case-detail {
  .scroll-content {
   /* overflow-y: visible;
    margin-top: 0 !important;*/
    margin-bottom: 46px;
  }
 /* .toolbar {
    .toolbar-background {
      background: transparent;
    }
  }
  ion-navbar {
    border-bottom: 0 solid #ddd;

  }*/
  #mapImage {
    width: 100vw;
    margin-bottom: 0;
  }
  .item-md ion-avatar[item-left] {
    margin: 0 15px 0 0 ;
    padding-left: 5px;
    padding-right: 5px;
    background-color: inherit;
    #roomInfoDetailUserImage {
      border-radius: 0;
      width: 80px;
      height: 80px;

    }
  }
  #userInfo {margin-top:2px;
    padding-left: 0; margin-bottom:5px; background-color: inherit;
  }
  #roomInfoDetailInfoList {
    background-color: white;
    margin-bottom: 5px;
    margin-top: 0;
  }
  #companyIntro {
    padding: 20px 16px 17px 16px;
    word-break: break-all;
    background-color: white;
    width: 98vw;
    border: 1px solid #ddd;
    margin: 0 auto 5px auto;
    p {
      margin: 0;
    }
  }


  #etc_buttons {
    /*position: fixed;
    bottom: 0;
    left: 0;*/
    color: white;
    button {
      padding: 0;
      font-size: 1.6rem;
      .item-inner {
        .label-md {
          margin-right: 0;
        }
        padding-right: 0;
      }
    }
    button#pin {
      width: 25%;
      background-color: #efefef;
    }
    button#call {
      width: 25%;
      background-color: #cfcfcf;

    }
    button#chatbubbles {
      width: 50%;

      background-color: #bfbfbf;
    }
  }
}


