page-build-case-detail {
  .width-100-percent {
    width: 100%;
  }
  .innerHtmlDiv p {
    margin: 2px 0 0 0;
  }
  .buildCaseInformationGrid {
    padding-bottom: 0;
  }
  .buildCaseInformationGridBorderClass {
      border-bottom: 1px solid #ddd;
  }
  .padding-6 {
    padding-top: 6px; padding-bottom: 6px;
  }
  .post {

    .post-author {
      align-self: center;
    }

    h3.post-author {
      font-weight: normal;
    }

    .post-comment {

      .like-count {
        margin-right: 5px;
        font-size: 0.8em;
      }
    }
  }
}
