<ion-header no-border> <!--  [ion-shrinking-header]="content" -->
  <ion-navbar color="cozy">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <!-- <ion-buttons left>
      <button ion-button left style="width: 48px; font-size: 2.2rem;">&lt;!&ndash;/*margin-top: 2px;*/&ndash;&gt;
        <ion-icon ios="ios-person" md="md-person"></ion-icon>

      </button>

    </ion-buttons>-->
    <ion-title>마이페이지</ion-title>
  </ion-navbar>

  <div id="user_info_area">
    <!--
    <img id="user_image" src = "assets/img/mike.png" ><br>
    <span id="user_info">
        <span>ushawn@nate.com</span>
    </span>-->
  </div>
</ion-header>
<ion-content>
  <ion-list padding id="menu_list">
    <div *ngFor="let p of pages">
      <button ion-item *ngIf="!((!p.flag && p.flag == isLogined) || p.flag == isLogined)"
              (click)="openPage(p)">

        <ion-icon ios="{{p.ios}}" md="{{p.md}}" style="float: left; margin-top: 9px; margin-right: 25px;"></ion-icon>
        <div  style="float: left;">
          <span>{{p.title}}</span><br>
          <span style="color: #aaa; font-size: 1.3rem">{{p.detail}}</span>
        </div>
      </button>
    </div>
    <div *ngIf="isLogined">


      <button ion-item (click)="logout()">

        <ion-icon ios="ios-log-out" md="md-log-out" style="float: left; margin-top: 9px; margin-right: 25px;"></ion-icon>
        <div  style="float: left;">
          <span>로그아웃</span><br>
          <span style="color: #aaa; font-size: 1.3rem">로그아웃</span>
        </div>
      </button>
      <button id="signOutButton" ion-item (click)="signOut()">

        <ion-icon ios="ios-remove-circle" md="md-remove-circle" style="float: left; margin-top: 9px; margin-right: 25px;"></ion-icon>
        <div  style="float: left;">
          <span>회원탈퇴</span><br>
          <span style="color: #aaa; font-size: 1.3rem">회원정보를 삭제합니다.</span>
        </div>
      </button>
    </div>
  </ion-list>
</ion-content>
