page-build-case-list {
  ion-header {

    .sub-title-bar {
      ion-grid {
        padding: 0;
      }
      .item-inner {
        border-bottom: 0 !important;
      }
      .item-block {
        background-color: #efefef;
        color: black;
      }

      width: 100%;
      background-color: #efefef;
      /*opacity: 0.9;*/
      * {
      }
      ion-col {
        padding: 0;
        border: 0 solid #ddd;

      }

      ion-select {
        width: 100%;
        min-width: 95%;
        margin: 0 auto;
        .item-cover {
          color: black;
        }
        .select-md {

          padding: 9px 0 11px 0;
        }
      }
    }

  }
  #buildCaseListContent {
    background-color: #f5f5f5;
    ion-list {
      ion-item {
        padding-left: 0;
        margin: 5px 0 0 0;
        .item-inner {
          padding-right: 0;
          ion-label {
            margin: 0;
            .post-body {
              p {
                font-size: 0.8em;
              }

              a.subdued {
                color: $textColor;
                font-size: 0.8em;
              }
            }
            .post-actions {
              color: #7C7C7C;
              font-size: 1.4em;
            }
            .outer {
              display: table;
              position: absolute;
              height: 25vw;
              width: 50%;
              right: 0;
            }

            .middle {
              display: table-cell;
              vertical-align: middle;
            }

            .inner {
              padding-left: 8px;
              padding-right: 8px;
              margin-left: auto;
              margin-right: auto;
              width: 100%;
              #post_title,
              #post_place {
                display: inline-block; width: 47vw; white-space: nowrap; overflow: hidden; text-overflow: ellipsis;

              }
              #post_title {

                position: relative;
                font-size: 1.40rem;
                bottom:-4px;
              }
              #post_place {
                position: relative;
                font-size: 1.20rem;
                bottom:-2px;
              }

              #post_pyeong,
              #post_deposit,
              #post_type {
                position: relative;
                bottom:-1px;
                //position: relative;
                //bottom: -3px;
                display: inline-block;
                margin-top: 1px;
                border: 1px solid #ddd;
                padding: 4px 6px 2px 6px;
                border-radius: 3px;
                font-size: 1rem;
              }
            }
            .post-body {
              padding: 0 !important;
              .item-inner {
                padding: 0 !important;
                .label {
                  margin: 0 !important;
                }
              }

            }
          }

        }

      }
    }

  }

}

