<!--
  Generated template for the HomePage page.
  See http://ionicframework.com/docs/v2/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header no-border>
  <ion-navbar color="cozy" hideBackButton >
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>원룸·투룸·오피스텔</ion-title>
    <ion-buttons end>

      <button ion-button right (click)="inputButtonClick()" *ngIf="isLogined">
        방 등록
      </button>
      <button ion-button right (click)="settingButtonClick()">
        방 설정
      </button>
    </ion-buttons>
  </ion-navbar>
  <div class="sub-title-bar"> <!-- [(ngModel)]="region" -->
    <ion-row>
      <ion-col text-center width-50>
        <ion-item text-center>
          <ion-select [(ngModel)]="region" [selectOptions]="selectOptions_region" (ionChange)="changeRegion()">
            <ion-option value="전체" selected="true">전체</ion-option>
            <ion-option value="전주">전주</ion-option>
            <ion-option value="익산">익산</ion-option>
            <ion-option value="군산">군산</ion-option>
          </ion-select>

        </ion-item>
      </ion-col>
      <ion-col text-center width-50>
        <ion-item text-center>
          <ion-select [(ngModel)]="lately" [selectOptions]="selectOptions_lately" (ionChange)="changeLately()">
            <ion-option value="최신순" selected="true">최신순</ion-option>
            <ion-option value="이름순">이름순</ion-option>
            <ion-option value="보증금순">보증금순</ion-option>
            <ion-option value="월세순">월세순</ion-option>
          </ion-select>
        </ion-item>
      </ion-col>
      <!--
      <ion-col text-center width-50>
        <ion-item text-center>
          <ion-select [(ngModel)]="filter" multiple="true" [selectOptions]="selectOptions" (ionChange)="changeDetailFilter()">
            <ion-option value="1" selected="true">전세</ion-option>
            <ion-option value="2">원룸(오픈형)</ion-option>
            <ion-option value="3">원룸(분리형)</ion-option>
            <ion-option value="4">원룸(복층형)</ion-option>
            <ion-option value="5">투룸</ion-option>
            <ion-option value="6">쓰리룸</ion-option>
          </ion-select>
        </ion-item>
      </ion-col>
      -->
    </ion-row>
    <!--
      <span style="font-size: 1.10em; position: relative; top: 11px; left: 20px;">
        {{region}} - 오피스텔 ( 보증금:500~1000, 월세:20~50 )
      </span>
    -->
  </div>

</ion-header>
<ion-content>
  <ion-refresher (ionRefresh)="doRefresh($event)" pullMin="60" pullMax="150">
    <ion-refresher-content style="padding: 20px 0;"
      pullingIcon="arrow-dropdown"
      pullingText="Pull to refresh"
      refreshingSpinner="circles"
      refreshingText="Refreshing...">
    </ion-refresher-content>
  </ion-refresher>

  <ion-card *ngFor="let buildCase of returnedDatas">
    <div class="post-body" (click)="viewPost(buildCase.selectedBuildCaseIdx)">
      <div>
        <div class="img" style="width: 100%;">

          <img src="http://api.cozyhouzz.co.kr/{{buildCase.mainPreviewImage}}"
               alt="Inventore voluptates velit totam ipsa tenetur" style="width: 50%; display: block; float: left;">
        </div>
        <div class="outer">
          <div class="middle">
            <div class="inner">
              <span id="post_title">{{buildCase.title}}</span>
              <span id="post_place">{{buildCase.buildPlace}}</span><br>
              <span id="post_pyeong">{{buildCase.buildTotalArea}}평</span>
              <span id="post_type">{{buildCase.buildType}}</span>
              <span id="post_deposit">{{buildCase.buildTotalPrice}} / 20</span>
            </div>
          </div>
        </div>

      </div>

    </div>
  </ion-card>
  <ion-infinite-scroll (ionInfinite)="doInfinite($event)" style="margin-top: 30px;">
    <ion-infinite-scroll-content

      loadingSpinner="bubbles"
      loadingText="Loading more data...">

    </ion-infinite-scroll-content>
  </ion-infinite-scroll>

</ion-content>
<!--

<ion-content>
    <ion-card *ngFor="let buildCase of returnedDatas" >
        <button ion-item text-wrap class="post-body" (click)="viewPost(buildCase.selectedBuildCaseIdx)">
            <div>
              <div class="outer">

                 <div class="middle">
                   <div class="inner">
                     <div id="post_image"  style="width: 50%; float: left;" >
                       <a>
                         <img src="http://api.cozyhouzz.co.kr/{{buildCase.mainPreviewImage}}"
                                                      alt="Inventore voluptates velit totam ipsa tenetur">
                       </a>
                     </div>
                   </div>
                 </div>

               </div>

              <div id="post_detail" style="width: 50%; float: right;">
                <span id="post_title">{{buildCase.title}}</span>
                <span id="post_place" >{{buildCase.buildPlace}}</span><br>
                <span id="post_pyeong">{{buildCase.buildTotalArea}}평</span>
                <span id="post_type">{{buildCase.buildType}}</span>
                <span id="post_deposit">{{buildCase.buildTotalPrice}} / 20</span>
              </div>

            </div>
        </button>
    </ion-card>
</ion-content>

-->
