<!--
  Generated template for the HomePage page.

  See http://ionicframework.com/docs/v2/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar color="cozy">
    <button  ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>원룸 · 투룸 · 오피스텔 · 도시형생활주택</ion-title>

  </ion-navbar>

  <div class="sub-title-bar"> <!-- [(ngModel)]="region" -->
    <ion-row>
      <ion-col text-center width-50>
        <ion-item text-center>
        <ion-select [(ngModel)]="region" [selectOptions]="selectOptions_region" (ionChange)="changeRegion()">
          <ion-option value="전체" selected="true">전체</ion-option>
          <ion-option value="전주">전주</ion-option>
          <ion-option value="익산">익산</ion-option>
          <ion-option value="군산">군산</ion-option>
        </ion-select>
        </ion-item>
      </ion-col>
      <ion-col text-center width-50>
        <ion-item text-center>
        <ion-select [(ngModel)]="lately" [selectOptions]="selectOptions_lately"  (ionChange)="changeLately()">
          <ion-option value="최신순" selected="true">최신순</ion-option>
        </ion-select>
        </ion-item>
      </ion-col>
      <!--
      <ion-col text-center width-50>
        <ion-item text-center>
          <ion-select [(ngModel)]="filter" multiple="true" [selectOptions]="selectOptions" (ionChange)="changeDetailFilter()">
            <ion-option value="1" selected="true">전세</ion-option>
            <ion-option value="2">원룸(오픈형)</ion-option>
            <ion-option value="3">원룸(분리형)</ion-option>
            <ion-option value="4">원룸(복층형)</ion-option>
            <ion-option value="5">투룸</ion-option>
            <ion-option value="6">쓰리룸</ion-option>
          </ion-select>
        </ion-item>
      </ion-col>
      -->
    </ion-row>
    <!--
      <span style="font-size: 1.10em; position: relative; top: 11px; left: 20px;">
        {{region}} - 오피스텔 ( 보증금:500~1000, 월세:20~50 )
      </span>
    -->
  </div>
</ion-header>

<ion-content>
  <ion-card *ngFor="let buildCase of returnedDatas" >


    <ion-item text-wrap class="post-body">
      <div (click)="viewPost(buildCase.selectedBuildCaseIdx)">
        <!--<img class="full-image" *ngIf="post.image" src="{{ post.image }}">
        <p padding-top padding-bottom>{{ post.content }}</p>-->

        <div class="outer">

          <div class="middle">
            <div class="inner">
              <div id="post_image"  style="width: 50%; float: left;" >
                <a>
                  <img src="http://api.cozyhouzz.co.kr/{{buildCase.mainPreviewImage}}"
                       alt="Inventore voluptates velit totam ipsa tenetur">
                </a>
              </div>
            </div>
          </div>
        </div>

        <div id="post_detail" style="width: 50%; float: right;">
          <h2 style="font-size:1.40rem">{{buildCase.title}}</h2> <!--(click)="viewUser(post.user_id)"-->
          <h3 style="font-size:1.20rem">{{buildCase.buildPlace}}</h3>
          <span style="font-size: 0.85em">{{buildCase.buildTotalArea}}평</span>
          <span style="font-size: 0.85em">{{buildCase.buildType}}</span>
          <span style="font-size: 0.85em">{{buildCase.buildTotalPrice}}만원</span>
        </div>
      </div>
      <!--
            <div>
              <a (click)="viewPost(post.id)" class="subdued">{{ post.likeCount}} Likes</a>
              <a (click)="viewPost(post.id)" class="subdued" margin-left>{{ post.commentCount}} Comments</a>
            </div>
          -->
    </ion-item>
    <!--
    <ion-grid class="post-actions">
      <ion-row >
        <ion-col width-33 text-center>
          <span  style="font-size: 0.85em"class="label label-warning">공사면적</span><br>
          <span style="font-size: 0.75em">{{buildCase.buildTotalArea}}평</span>
        </ion-col>
        <ion-col width-33 text-center>
          <span  style="font-size: 0.85em"class="label label-info">공사구분</span><br>
          <span style="font-size: 0.75em">{{buildCase.buildType}}</span>
        </ion-col>
        <ion-col width-33 text-center>
          <span  style="font-size: 0.85em"class="label label-primary">시공가격</span><br>
          <span style="font-size: 0.75em">{{buildCase.buildTotalPrice}}만원</span>

        </ion-col>
      </ion-row>
    </ion-grid>
    -->

  </ion-card>
  <!--
    <ion-card *ngFor="let post of posts">
      <ion-item>
        <ion-avatar item-left (click)="viewUser(post.user_id)">
          <img src="{{ post.face }}">
        </ion-avatar>
        <h2 (click)="viewUser(post.user_id)">{{ post.name }}</h2>
        <p>{{ post.time }}</p>
      </ion-item>

      <ion-item text-wrap class="post-body">
        <div (click)="viewPost(post.id)">
          <img class="full-image" *ngIf="post.image" src="{{ post.image }}">
          <p padding-top padding-bottom>{{ post.content }}</p>
        </div>

        <div>
          <a (click)="viewPost(post.id)" class="subdued">{{ post.likeCount}} Likes</a>
          <a (click)="viewPost(post.id)" class="subdued" margin-left>{{ post.commentCount}} Comments</a>
        </div>
      </ion-item>

      <ion-grid class="post-actions">
        <ion-row>
          <ion-col width-33 text-center (click)="toggleLike(post)">
            <ion-icon name="thumbs-up" color="primary"  *ngIf="post.liked"></ion-icon>
            <ion-icon name="thumbs-up" *ngIf="!post.liked"></ion-icon>
          </ion-col>
          <ion-col width-33 text-center (click)="viewPost(post.id)">
            <ion-icon name="chatboxes"></ion-icon>
          </ion-col>
          <ion-col width-33 text-center>
            <ion-icon name="share-alt"></ion-icon>

          </ion-col>
        </ion-row>
      </ion-grid>

    </ion-card>
      -->

</ion-content>
