page-notice-board-list {
  #noticeBoardList {
    margin-top: 5px;
    #noticeBoardDetail {
      margin-bottom: 5px;
      .item-inner {
         border-bottom: 0;
      }

        #noticeBoardContents,
        #noticeBoardTitle {
          background-color: white;
        }
        #noticeBoardTitle {
          font-size: 1.5rem;
          ion-label {
            margin-bottom: 9px !important;
          }
        }
        #noticeBoardContents {
          font-size: 1.45rem;
          //border-top: 1px solid #ddd !important;
          ion-label {
            white-space: normal;
        }
      }
    }

  }
  .blue-background {
    color: white !important;
    background-color: #73C3CB !important;
  }
}
