page-home,
.home {
  .scroll-content {
    overflow-y: visible;
    margin-top: 0 !important;
  }
  ion-navbar {
    border-bottom: 0 solid #ddd;
  }
  .toolbar {
    .toolbar-background {
      background: transparent;
    }
  }
  .toolbar-md-cozy .bar-button-default-md {

    color: white;
  }
  .toolbar-md-cozy .toolbar-title-md {
    color: white;
    text-align: center;
  }
  .post-body {

    border-top: 1px solid $borderColor;
    border-bottom: 1px solid $borderColor;

    p {
      font-size: 0.8em;
    }

    a.subdued {
      color: $textColor;
      font-size: 0.8em;
    }
  }

  .post-actions {
    color: #7C7C7C;
    font-size: 1.4em;
  }

  .main_page_banner {
    //padding-top: 100px;
    padding-top: 240px;
    background: url("../assets/img/banner/home-banner.jpg");
    //background-color: #efefef;
    background-size: cover;
    .post-actions {
      position: relative;
      bottom: 0;
      background-color: rgba(0, 0, 0, 0.5);
      color: white;
      opacity: 0.8;
      font-size: 1.2em;
      padding-top: 10px;
      padding-bottom: 9px;
    }
  }

  #navigation-buttons {
    padding-left: 0;
    padding-bottom: 0;
    /*
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14);
    */
    border-bottom: 1px solid #ddd;
    .item-inner {
      padding-right: 0;
      ion-label {
        margin-top: 0;
        margin-bottom: 0;
      }
    }
    .post-actions {
      font-size: 0.75em;
      .icon {
        font-size: 1.5em;
      }
    }

  }
  #cozyhouzz-information {
    width: 98vw;
    background-color: white;
    border: 1px solid #ddd;
    margin: 0 auto 5px auto;
  }

}

