page-home,
.home {
  ion-navbar {
    border-bottom: 0px solid #ddd;
  }
  .toolbar {
    .toolbar-background {
      background: transparent;
    }
  }
  .toolbar-md-cozy .bar-button-default-md {

    color: white;
  }
  .toolbar-md-cozy .toolbar-title-md {
    color: white;
      text-align: center;
  }
  .scroll-content {
    position: relative;
    display: inline;
  }
  .post-body {

    border-top: 1px solid $borderColor;
    border-bottom: 1px solid $borderColor;

    p {
      font-size: 0.8em;
    }

    a.subdued {
      color: $textColor;
      font-size: 0.8em;
    }
  }

  .post-actions {
    color: #7C7C7C;
    font-size: 1.4em;
  }

  .main_page_banner {
    //padding-top: 100px;
    padding-top: 240px;
    background: url("../assets/img/banner/home-banner.jpg");
    //background-color: #efefef;
    background-size: cover;
    .post-actions {
        position: relative;
      bottom: 0;
        background-color: rgba(0, 0, 0, 0.5);
        color: white;
        opacity: 0.8;
        font-size: 1.2em;
        padding-top: 10px;
        padding-bottom: 15px;
    }
  }

  #navigation-buttons {
    padding-bottom: 6px;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14);
    .post-actions {
      font-size: 0.8em;
      .icon {
        font-size: 3.2em;
      }
    }

  }

}
